<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Mart</title>
    <style>
        .bg-custom-navy {
            background-color: #000435;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css" rel="stylesheet">
</head>

<div class="bg-custom-navy text-white py-3 px-4">
    <h1 class="text-2xl font-bold ml-2">Car Mart</h1>
</div>

<body>
    {% block content %}
    
    {% endblock content %}
</body>
</html>