{% extends 'base.html' %}

<style>
    .bg-custom-navy {
        background-color: #000435;
    }
</style>

{% block content %} 
    <div class="m-4">
        <div class="text-lg">
            <p class="text-3xl">Hi <strong>{{ name }}</strong></p>
            <p>Want to add item?</p>
            <a href="{% url 'main:create_item' %}">
                <button class="bg-custom-navy hover:bg-blue-800 text-white py-2 px-4 rounded">
                    Add New Item
                </button>
            </a>
        </div>
    </div>

    <div class="m-4">
        <p class="mb-2"><strong>Total Items Saved:</strong> {{ item_count }}</p>
            <div class="row">
            {% for item in items %}
                <div class="col">
                    <div class="card m-3" style="width: 24rem;">
                    <div class="card text-left shadow p-3 rounded {% if forloop.last %}bg-custom-navy text-white{% else %}bg-blue-200{% endif %}">
                        <div class="card-body">
                            <div class="flex justify-between items-center gap-4">
                                <div class="flex-none"><h3 class="card-title"><b>{{ item.name }}</b></h3></div>
                                <div class="flex-none text-right"><h3 class="card-title"><b>{{ item.category }}</b></h3></div>
                            </div>
                            <p class="card-text mb-2">Price: {{ item.price }}</p>
                            <p class="card-text mb-2">Amount: {{ item.amount }}</p>
                            <p class="card-text mb-2">{{ item.description }}</p>
                            <div class="flex justify-between items-center gap-4">

                                <div class="flex-none">
                                    <form action="/decrement/{{item.pk}}/" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-4 rounded">
                                            -
                                        </button>
                                    </form>
                                </div>

                                <div class="flex-grow text-center"> 
                                    <form action="/increment/{{item.pk}}/" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-4 rounded">
                                            +
                                        </button>
                                    </form>
                                </div>

                                <div class="flex-none text-right">
                                    <form action="/delete/{{item.pk}}/" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-4 rounded">
                                            x
                                        </button>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <div class="card-footer text-body-secondary">
                            {{ item.date_added }}
                        </div>
                    </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="m-4">   
        <a href="{% url 'main:logout' %}">
            <button class="bg-custom-navy hover:bg-blue-800 text-white py-2 px-4 rounded">
                Logout
            </button>
        </a>     
        <h5>Sesi terakhir login: {{ last_login }}</h5>
    </div>
{% endblock content %}